@import "nib"
@import "normalize.styl"
@import "fonts.styl"

//vendor-prefixes = webkit o ms moz official  para especificar prefijos propietarios

gris_oscuro = #333333
gris_claro = #818181
gris_mas_claro = #f0f0f0
rojo = #bd255b


body
	font-size 16px
	font-family 'Varela Round', sans-serif;
figure
	margin 0
	img 
		border 0	
a 
	text-decoration none
ul
	margin 0
	padding 0
.action
	color white
	font-size 1.2em
	margin-right .3em
	&:last-child
		margin-right 0
	&.gray
		color gris_claro
.actions
	background rgba(black,0.5)
	bottom 0
	left 0
	position absolute
	right 0
.author
	color gris_claro
.button-menu
	color gris_oscuro
	left .5em
	margin-top -.5em
	position absolute
	top 50%
.border-bottom
	border-bottom 1px solid gris_claro
.center-block
	margin 0 auto
.center-text
	text-align center
.close-icon
	position absolute
	top .5em
	color gris_claro
	right .5em
	font-size 1.2em
.container
	font-size 0
	padding 1.4rem
	text-align center
.header
	height 3.5em
	.title
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.image
	img
		width 100%
		height auto
		vertical-align top
.input 
	border 1px solid gris_claro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em
.left
	float left
.logo
	display none
.menu
	display none
.name
	color gris_oscuro
.padding
	padding 1em
.padding-top-bottom
	padding 1em 0
.playing
	&.small
		width 20em
.playlist
	border-left 1px solid gris_claro
	display none
	padding 0 2em
	width 22em
	.list 
		list-style none
	.item
		padding 1em 0
.progress
	margin 1em 0
	position relative
	.min 
	.max
		font-size .8em
		position absolute
		top -5px
	.min
		left 0
	.max
		right 0
	.total
		background gris_claro
		border-radius 5px
		height 5px
		margin 0 auto
		width 75%
	.state 
		animation 20s state infinite linear
		background rojo
		border-radius 5px
		height 5px
		position relative
		width 30%
	.circle
		animation 1s circle infinite
		background gris_oscuro
		border-radius 50%
		height 10px
		position absolute
		right -5px
		top -2.5px
		width 10px
@keyframes state
	0%
		width 0
	100%
		width 100%
@keyframes circle
	0%
		transform: scale(1);
	100%
		transform: scale(2);
		opacity 0
.right
	float right
.right-text
	text-align right
.relative 
	position relative
.round 
	border-radius 50%
	overflow hidden
.search-icon
	color gris_claro
	left .5em
	position absolute
	top .8em
.search
	margin-right 1em
.song
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	text-align left
	width 8em
	&:nth-child(even)
		margin-right 0
	p 
		margin .5em 0
.user
	width 200px
.wrap
	width 1000px

.isotipo
	width 122px
.logo
	background white
	display none
	padding 1.3em 0
	overflow hidden
.avatar
	width 38px
	height 38px	
	.username
		color gris_claro
		position relative
		top 9px
		margin-left .5em
		&:after
			border-left 7px solid transparent
			border-right 7px solid transparent
			border-top 9px solid gris_claro
			content ""
			display inline-block
			margin-left .4em

@media screen and (min-width: 480px)
	.song
		&:nth-child(even)
			margin-right 1em
	.playing
		
		&.medium
			width auto

@media screen and (min-width: 1000px)
	body
		background gris_mas_claro	
	.button-menu
		display none
	.header
		height auto
		border none
		.title
			display none
	
	
	.menu
		background gris_mas_claro
		border-top 1px solid gris_claro
		display block
		overflow hidden 
		.item
			float left
			list-style none
			a
				border-top 5px solid transparent
				color gris_oscuro
				cursor pointer
				display block
				padding 1em
				text-transform uppercase
				&:hover
					border-top 5px solid gris_oscuro
	.music
		float left
		width 32.5em		
	
	
			
	.playing		
		padding-top 1.3em
		&.large
			overflow hidden
			width 62.5em
	
	.logo
	.playlist
		display block
			
	
